.backgroundContainer {
  position: relative;
}

.backgroundImage {
  display: block;
  min-width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
